<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Welcome</h1>
        <br />
        <h2>
          This a simple project to practicing ejs Node.js
          <br />
          i do not focus on css or bootstrap
          <br />
          i hope it be a good job
        </h2>
      </div>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
